{% extends "ipcalc.html" %}
{% block learning %}
<th>Insert Values</th>
{% endblock learning %}
{% block subnetcheck %}
{% if not inserted %}
<td><input type="text" placeholder="Subnet" name="subnetcheck" ></td>
{% else %}
<td><input type="text" placeholder="Subnet" name="subnetcheck"  value="{{inserted['subnet']}}"></td>
{% endif %}

{% endblock subnetcheck %}


{% block maskcheck %}
{% if not inserted %}
<td><input type="text" placeholder="Subnet mask" name="maskcheck" ></td>
{% else %}
<td><input type="text" placeholder="Subnet mask" name="maskcheck"  value="{{inserted['mask']}}"></td>
{% endif %}
{% endblock maskcheck %}

{% block broadcastcheck %}
{% if not inserted %}
<td><input type="text" placeholder="Broadcast" name="broadcheck" ></td>
{% else %}
<td><input type="text" placeholder="Broadcast" name="broadcheck"  value="{{inserted['broadcast']}}"></td>
{% endif %}

{% endblock broadcastcheck %}

{% block hostcheck %}
{% if not inserted %}
<td><input type="text" placeholder="Host number" name="hostcheck" ></td>
{% else %}
<td><input type="text" placeholder="Host number" name="hostcheck" value="{{inserted['hosts']}}"></td>

{% endif %}

{% endblock hostcheck %}


